/* Calendar customization 
-------------------------*/

.rdp-day {
    font-size: 14px;
    color: var(--text-secondary);
}

.rdp-today .rdp-day_button {
    color: var(--text-secondary);
    background-color: transparent;
    border-radius: 100%;
    position: relative;
}

.rdp-today .rdp-day_button::before {
    content: "";
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--bg-button);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px;
}

.rdp-day.rdp-selected.rdp-range_start .rdp-day_button,
.rdp-day.rdp-selected.rdp-range_end .rdp-day_button {
    background-color: var(--bg-button);
    color: #fff;
    border-radius: 100%;
    font-weight: 400;
    border: none !important;
    font-size: 14px;
}

.rdp-range_middle {
    background-color: #fff !important;
    font-size: 14px !important;
}

.rdp-range_start,
.rdp-range_end {
    background: transparent !important;
}

.rdp-selected.rdp-range_middle .rdp-day_button {
    color: var(--text-secondary);
    background: var(--bg-active);
    border-radius: 100%;
}

.rdp-selected .rdp-day_button {
    background-color: var(--bg-button);
    color: #fff;
    border-radius: 100%;
    font-weight: 400;
    border: none !important;
    font-size: 14px;
}
